/*
*	@author avanderwoude
*/

@green: #449d44;
@red: #c00;
@yellow: #ECB60C;
@blue:#00c;

/* DEBUG */
.body{
background-color: black;
}

#c {
/*
width:100%;
height:100%;
*/
}

#p1.active {
background-color:@red;
opacity:1;
color:white;
}

#p2.active {
background-color:@blue;
opacity:1;
color:white;
}

.player{
padding:10px;
color:black;
background-color:white;
}

